body {
  background-color: black;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  color: #fe2171;
}

h3 {
  color: #a6e030;
}

img {
  width: 100%;
  height: auto;
}

.jumbotron {
  background-color: #7da7ff;
}

.form-control {
background-color: #7da7ff;
border: solid black 3px;
}

#submitbutton{
  background-color: #272922;
  border: solid black 1px;
}

.please {
  display: none;
}

.python{
  display: none;
}

.swift {
  display: none;
}

.ruby {
  display: none;
}

.javascript {
  display: none;
}
